html {
    font-family: 'Baloo Tammudu', cursive;
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/t_original/f1t24rufeh6k5knot9yb.jpg");
    background-position: center;
    background-attachment: fixed;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.753);
    background-color: rgb(0, 0, 0);
}

.title{
    margin: auto;
    text-align: center;
    color: rgb(151, 240, 248);
    
}
.paper{

    color: rgb(151, 240, 248);
    text-align: center;
    width: 50%;
    background-color: rgba(27, 83, 90, 0.884);
    border-style:solid; 
    border-color: rgb(151, 240, 248);
    margin: auto;
    padding: 15px;
}

ul{
    list-style-type:none;
    margin-left: -40px;
}

li{
    font-size: large;
}

a{
    text-decoration: none; 
    color: rgb(151, 240, 248);
    background-color: rgba(56, 140, 151, 0.904);
    font-size: x-large;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 0px;
    border-style:solid; 
    border-color: rgb(151, 240, 248);
}

#bodyText{
    color: yellow;
}
a:hover{
    background-color: rgb(56, 148, 151);
}